html, body {
  min-height: 100%;                    
  }

body {
    background-color: #3899ec;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

/* Används för <button></button>*/
input:focus, textarea:focus, select:focus, button:focus{
        outline: none;
}
button {
    background-color: #bd572d;
    border: #bd572d solid 0px;
    color: white;
    width: 100px;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 4px 2px;
    cursor: pointer;
  }
  button:hover {
    background-color: hsla(18, 62%, 46%, 0.898);
    transform:scale(0.99,0.99);
    -webkit-transform:scale(0.99,0.99);
    -moz-transform:scale(0.99,0.99);
  }

  input[type=]:hover {
    background-color: rgb(228, 228, 228);
  }


  /* Används för [type=submit] eller [type=button] - knappar*/
  input[type=submit] {
    background-color: #bd572d;
    border: #bd572d solid 0px;
    color: white;
    width: 100px;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 4px 2px;
    cursor: pointer;
  }
  input[type=button] {
    background-color: #bd572d;
    border: #bd572d solid 0px;
    color: white;
    width: 100px;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 4px 2px;
    cursor: pointer;
  }
  input[type=button]:hover {
    background-color: hsla(18, 62%, 46%, 0.898);
    transform:scale(0.99,0.99);
    -webkit-transform:scale(0.99,0.99);
    -moz-transform:scale(0.99,0.99);
  }

  input[type=submit]:hover {
    background-color: hsla(18, 62%, 46%, 0.898);
    transform:scale(0.99,0.99);
    -webkit-transform:scale(0.99,0.99);
    -moz-transform:scale(0.99,0.99);
  }


/* Textbox (framsidans sökbox) */
input[type=text], select {
    width: auto;
    padding: 12px;
    /*margin: 5px 0 22px 0;*/
    /*display: inline-block;*/
    border: 1px solid rgb(3, 3, 3);
    border-radius: 8px;
    box-sizing: border-box;
  }